.pop-up-block{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5) ;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.pop-up-block.active{
    opacity: 1;
    pointer-events: all;
}

.account-inf{
    padding: 20px 30px;
    border-radius: 12px;
    background-color: white;
    width: 50vw;
    transform: scale(0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.4s all;
}

.account-inf.active{
    transform: scale(1);
}

.account-inf input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 0 solid #ccc;
}

.account-inf-label {
    color: black;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.account-inf h3{
    font-size: 13px;
    color: black;
}

.account-inf button{
    width: 15%;
    margin: 0 5px 5px 0;

    background-color: #626168;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;

    &:hover{
        background-color: black;
        transition: 0.3s;
    }
}