body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(17, 17, 17, 0.8);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.auth {
    display: flex;
    flex-direction: column;
}

.auth-input {
    background-color: rgba(34, 34, 34, 0.7);
    color: #fff;
    border: 1px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    outline: none;
}

button.submit {
    background-color: rgba(34, 34, 34, 0.7);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;

    &:hover {
        background-color: #ccc;
    }
}

.error {
    text-align: center;
}

.var-button {
    display: inline-block;
    color: #555;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: color 0.3s;
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }
}
