.pop-up-form {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.pop-up-form.active {
    opacity: 1;
    pointer-events: all;
}

.habit-form {
    padding: 20px 30px;
    border-radius: 16px;
    background-color: white;
    width: 50vw;
    transform: scale(0.5);
    display: flex;
    flex-direction: column;
    transition: 0.4s all;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
}

.habit-form.active {
    transform: scale(1);
}

.habit-form input {
    width: 94%;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.habit-form input:focus {
    border-color: blue;
    outline: none;
}

.form_radio_btn, .tab-header {
    display: flex;
    gap: 2px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 15px;
}

.tab-header {
    padding: 3px 4px;
}

.form_radio_btn input[type=radio], .tab-header input[type=radio] {
    display: none;
}

.form_radio_btn label, .tab-header label {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 10px;
    font-weight: 600;
    color: #333;
    transition: 0.3s ease;
    user-select: none;
    background-color: transparent;
    border: none;
}

.radio-label.selected{
    background-color: lightgray;
    color: gray;
}


.tab.selected {
    background-color: gray;
    color: lightgray;
}

.habit-form button[type="submit"] {
    padding: 12px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.habit-form button[type="submit"]:hover {
    background-color: grey;
    transform: translateY(-2px);
}

.habit-form label {
    font-weight: 600;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/*s*/