.habit-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 133px);
    grid-auto-rows: 133px;
    gap: 23px;
    padding: 70px;
}

.habit {
    background-color: grey;
    border-radius: 10px;
    font-weight: bold;
    font-size: 10px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    cursor: grab;
    transition: box-shadow 0.2s ease, transform 0.3s ease;
}

.add-habit{
    background-color: grey;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    left: 85%;
    top: 5%;
    width: 30px;
    position: absolute;

    &:hover{
        background-color: darkgrey;
        transition: 0.3s;
    }

}

.account{
    background-color: grey;
    border: 1px solid grey;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 20px;
    right: 85%;
    top: 5%;
    width: 30px;
    position: absolute;

    &:hover{
        background-color: darkgrey;
        transition: 0.3s;
    }

}

.delete{
    background-color: #626168;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;

    &:hover{
        background-color: black;
        transition: 0.3s;
    }
}
